<app-topo></app-topo>
<div *ngIf="jogoEmAndamento;else fimDeJogo">
    <app-painel (encerrarJogo)="finalizarGame($event)"></app-painel>
</div>

<ng-template #fimDeJogo>
    <div class="container mt-5">
        <div class="col" *ngIf="mensagem == 'Derrota';else vitoria">
            <div class="alert alert-dark" role="alert">
                <h4 class="alert-heading textoBranco">Fim de Jogo</h4>
                <p class="textoBranco">Você perdeu :(, tente novamente!</p>
            </div>
        </div>
        <ng-template #vitoria>
            <div class="col">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading ">Fim de Jogo</h4>
                    <p >Você Venceu :), Parabéns jogue novamente!</p>
                </div>
            </div>
        </ng-template>
        <div class="col d-flex justify-content-end">
            <button type="button" (click)="reiniciarJogo()" class="btn btn-dark">Reiniciar</button>
        </div>

    </div>
</ng-template>