<div class="container mt-5">
    <div class="jumbotron p-4">
        <div class="row">
            <div class="col-sm-6 ">
                <app-progresso [progresso]="progresso"></app-progresso>
            </div>
            <div class="col-sm-6 ">
                <app-tentativas [tentativas]="tentativas"></app-tentativas>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>{{ instrucao }}</h5>
                <p>{{ frase.fraseEng}}</p>
                <div class="row form-group">
                    <textarea class="form-control" 
                    rows="3"
                    (input)="atualizaResposta($event)"
                    [value]="resposta"></textarea>
                </div>
                <div class="row d-flex justify-content-end">
                    <button type="button" class="btn btn-dark" (click) = "verificarResposta()">Verificar</button>
                </div>



            </div>

            
        </div>
        
    </div>
   
</div>